<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="../Public/Images/logo-mercado-liebre.svg" alt="Mercado Liebre">
        <div>
            <h4>Lugar para poner barra de busqueda</h4>
        </div>
        <div>
            <h4>Compra en cuotas y sin tarjeta de credito</h4>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h3>Basado en tu última visita</h3>
                <img src="../Public/Images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <h4>$6.770</h4>
                <h4>40% OFF</h4>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div>
                <img src="../Public/Images/img-macbook-pro-2019.jpg" alt="">
                <h4>$230.000</h4>
                <h4>20% off</h4>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="../Public/Images/img-samsung-galaxy-s10.jpg" alt="">
            </div>
        </section>
        <section></section>
    </main>
    <footer></footer>
</body>
</html